$base-font-size: 14px;
$primary-color: #9575cd;
$darker-color: #65499c;
$lighter-color: #c7a4ff;
$font-color: #000; 

.ez-button {
    font-size: $base-font-size;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    background-color: $darker-color;
    color: #fff;
}

.ez-button:hover {
    box-shadow: 1px 1px 2px #333;
}

.ez-header {
    background-color: $primary-color;
    padding: 1rem;
}

.ez-list-item {
    display: flex;
    padding: 15px 30px;
    background-color: #eeeeee;
}

.ez-list-item:nth-child(even) {
    background-color: #fff;
}

.ez-item-header {
    margin: 0;
}

.ez-delete-item {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    background-image: url('../images/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    content: "\n";
    transition: background 1s;
}

.ez-delete-item:hover {
    background-color: $lighter-color;
}