$base-font-size: 14px;
$primary-color: #9575cd;
$darker-color: #65499c;
$lighter-color: #c7a4ff;
$font-color: #000; 

.ez-button {
    font-size: $base-font-size;
    padding: 15px 30px;
    border-radius: 3px;
    border: none;
    background-color: $darker-color;
    color: #fff;
    transition: box-shadow 0.5s;
}

.ez-button:hover {
    box-shadow: 1px 1px 1px #666;
}

.ez-header {
    background-color: $primary-color;
    padding: 1rem;
}

.ez-list-item {
    display: flex;
    padding: 1rem;
    background-color: #eeeeee;
}

.ez-list-item:nth-child(even) {
    background-color: #fff;
}

.ez-item-header {
    margin: 0;
}

.ez-delete-item {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    transition: background 0.5s;
}

.ez-delete-item:hover {
    background-color: $lighter-color;
}